<p>I'm the profile page, betches</p>

<div class="col-sm-6">
  <div class="well">
    <h3><span class="fa fa-user"></span> Local</h3>
    <p>
      <strong>id</strong>: {{user._id}}<br>
      <strong>email</strong>: {{user.local.email}}<br>
      <strong>password</strong>: {{user.local.password}}
    </p>
  </div>
</div>

<!-- FACEBOOK INFORMATION -->
<p>
  <strong>id</strong>: {{user.facebook.id}}<br>
  <strong>token</strong>: {{user.facebook.token}}<br>
  <strong>email</strong>: {{user.facebook.email}}<br>
  <strong>name</strong>: {{user.facebook.name}}
</p>

</div>
</div>

<!-- TWITTER INFORMATION -->
<p>
  <strong>id</strong>: <%= user.twitter.id %><br>
  <strong>token</strong>: <%= user.twitter.token %><br>
  <strong>username</strong>: <%= user.twitter.username %><br>
  <strong>displayName</strong>: <%= user.twitter.displayName %>
</p>
